.head {
    height: 400px;
    background-color: #ffe677;
    background-image: url("www.transparenttextures.com/patterns/natural-paper.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%
  } 

.head.name h2 {
  color: white;
  font-weight: 300;
}

.head.name h2 span {
  font-weight: 600;
} 